- extends "ranking/layouts/base.html.haml"

- block main
  .category
    .category__image
      %p.first 美しい世界は
      %p.second 画面の先にあった
      %p.third 
    .wrap
      - for content in contents
        .box
          .category__box
            %a{href: '/detail'}
            .category__box__title
              %h2 1
              %h3 {{ content.name }}
            .category__box__media
              .category__box__media__image
                %img(src = "#{ content.img_url }")
              .category__box__media__info
                .category__box__media__info__point
                  %p #{content.appraise} PT
                  %hr
                .category__box__media__info__synopsis
                  %p
                  = content.description|default:""
                  %hr
                .category__box__media__info__cast
                  %ul 出演声優 ：
                    - for cast in content.performers
                      %li #{ cast.name }(#{ cast.role })
      .pager
        - if contents.has_previous
          %a{href: "?p=#{ contents.previous_page_number }"} 前へ
        %span 1
        %span 2
        %span 3
        %span 4
        %span 5
        - if contents.has_next
          %a{href: "?p=#{ contents.next_page_number }"} 次へ