- extends "ranking/layouts/base.html.haml"

- block main
  .category
    .category__image
      - if category.name == 'アニメ'
        %p.first 美しい世界は
        %p.second 画面の先にあった
        %p.third
      - elif category.name == 'ドラマ'
        %p.first 青春も、
        %p.second コメディも、
        %p.third ロマンスも、
    .wrap
      - for content in contents
        .box
          .category__box
            %a{href: "{% url 'ranking:content_detail' content.id %}"}
            .category__box__title
              %h2 &emsp;&nbsp;{{ content.name }}
            .category__box__media
              .category__box__media__image
                %img(src = "#{ content.img_url }")
              .category__box__media__info
                .category__box__media__info__genre
                  %p ジャンル ： ラブコメ
                  %hr
                .category__box__media__info__synopsis
                  %p
                  = content.description|default:""|truncatechars_html:180
                  %hr
                .category__box__media__info__cast
                  %ul キャスト ：
                    - for cast in content.main_performers
                      %li #{ cast.name }(#{ cast.role })
    .pager
      - if contents.has_previous
        %a{href: "?p=#{ contents.previous_page_number }"} 前へ
      %span #{ contents.number } / #{ contents.paginator.num_pages }
      - if contents.has_next
        %a{href: "?p=#{ contents.next_page_number }"} 次へ