- extends "ranking/layouts/base.html.haml"

- block main
  .container__back
    .container__image
      %p.saisho 日本の心を
      %p.ato あなたの生活に
    .container__info
      - for category in categories
        - if category.name == 'アニメ'
          %section.ani
            %p.container__info__ani
              %a.topic1{href: "{% url 'ranking:category' category.id %}"}
                = category.name
              - for content_info in category.has_high_rank_content_sort_by_twitter_data
                .container__info__box
                  %p.rank #{ content_info.rank }
                  %p.appraise [#{content_info.points} PT]
                  %br
                  %a{href: "{% url 'ranking:content_detail' content_info.content.id %}"}
                    - if content_info.content.img_url
                      %img(src = "#{ content_info.content.img_url }")
                    - else
                      %img.dra(src = '/static/ranking/images/noimage.jpg')
                  %br
                  %a.ani{href: "{% url 'ranking:content_detail' content_info.content.id %}"}
                    %p= content_info.content.name
        - elif category.name == 'ドラマ'
          %section.dra
            %p.container__info__dra
              %a.topic2{href: "{% url 'ranking:category' category.id %}"}
                = category.name
              - for content_info in category.has_high_rank_content_sort_by_twitter_data
                .container__info__box.drabox
                  %p.drank #{ content_info.rank }
                  %p.dappraise [#{content_info.points} PT]
                  %br
                  %a{href: "{% url 'ranking:content_detail' content_info.content.id %}"}
                    - if content_info.content.img_url
                      %img.dra(src = "#{ content_info.content.img_url }")
                    - else
                      %img.dra(src = '/static/ranking/images/noimage.jpg')
                  %br
                  %a.dra{href: "{% url 'ranking:content_detail' content_info.content.id %}"}
                    %p.dra= content_info.content.name
      %section.about
        %p.container__info__about このサイトについて
          %dd アニメ及びドラマの公式ツイッターから取得した情報を総合的に評価し、ランキング形式で紹介しています。
            %br 
            ランキングに掲載されているポイントは、
            %br
            %br
            {（ 平均いいね数×１ ＋ 平均リツイート数×２ ）／ １００ }
            %br
            %br
            以上の計算式をもとに算出しています。
            %br
            なお、全取得データは下記となります。
            %ul
              %li フォロワー数
              %li ツイート数
              %li 平均いいね数
              %br
              %li 平均リツイート数
              %li アイコン及びバナーの画像
              %li ツイート内容
          %dd 各作品の詳細ページにて、当該作品の基本情報と併せて、所得した情報をもとにグラフを作成し、掲載しています。